[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
flake8 = "*"
ipdb = "*"
k8s_service = { path = "." }

[packages]
ops = "*"

[requires]
python_version = "3.8"
